h1{
  color:orange;
  padding:20px;
  text-align:center;
}
hr{
  color:gray;
  border-width: 3px;

}

#img{
  position:absolute ;
  top:140px;
  left:0px;
}
#content{
  width:400px;
  height: 300px;
  position: relative;
  top:200px;
  left:805px;
}
