<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <h1>
      <a href="index.html"><<</a>Guest Book
    </h1>
    <h2>
      Leave a Comment:
    </h2>
  </head>
  <body>
    <form id="form" action="/addComments" method="post">
      Comment: <textarea name="comment"rows="8"cols="80" required></textarea><br>
      <input type="submit" name="" value="submit">
    </form>
    <br><h4>${name}<h4>
      <hr>
      <br>
      <a href="/logout">Logout</a>
      <div >
        allComments
      </div>
  </body>
</html>
